<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Products</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <nav id='menu'>
    <div class="header">KICKX</div> <!-- Header added here -->
    <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
    <ul>
      <li><a href='index.html'>HOME</a></li>
      <li><a class='dropdown-arrow' href='products.html'>PRODUCTS</a>
        <ul class='sub-menus'>
          <li><a href='products.html'>Products 1</a></li>
          <li><a href='products.html'>Products 2</a></li>
          <li><a href='products.html'>Products 3</a></li>
          <li><a href='products.html'>Products 4</a></li>
        </ul>
      </li>
      <li><a href='index.html'>ABOUT</a></li>
    </ul>
    <!-- Search bar added here -->
    <form class="example" action="index.html">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <!-- User Icon added here -->
    <form class="example" action="index.html">
      <button type="submit"><i class="fa fa-user" style="font-size: 20px;"></i></button>
    </form>
    <!-- Cart icon added here -->
    <form class="example" action="cart.html">
      <button type="submit"><i class="fa fa-shopping-cart" style="font-size:20px"></i></button>
    </form>
  </nav>

  <h1>Products</h1>
  <div id="productList"></div>

  <script>
    window.onload = function() {
        fetch('/api/products')
        .then(response => response.json())
        .then(data => {
            const productList = document.getElementById('productList');
            productList.innerHTML = '';
            data.forEach((product) => {
                // Create a div for each product and include an image element for the image URL
                productList.innerHTML += `<div class="product-box" onclick="redirectToDetails('${product.id}')">
                                              <img src="${product.imageUrl}" alt="${product.name}" style="width:100px; height:auto;">
                                              <h3>${product.name}</h3>
                                              <p>${product.description}</p>
                                              <p>Category: ${product.category}</p>
                                              <p>Price: $${product.price}</p>
                                          </div>`;
            });
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }

    function redirectToDetails(productId) {
        window.location.href = `/details.html?id=${productId}`;
    }
</script>
</body>

</html>